Source: metaphoneptbr
Section: libdevel
Priority: optional
Maintainer: Carlos Costa Jordão <carlosjordao@gmail.com>
Build-Depends: debhelper (>= 10), php-dev, libpq-dev, postgresql-server-dev-all, python3-all, python3-setuptools, dh-python, python3-dev
Homepage: http://sourceforge.net/projects/metaphoneptbr/
Standards-Version: 3.9.5


Package: metaphoneptbr-utils
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is the metaphone for brazilian portuguese
 this is the command line version, which is intended to work mainly
 with scripts. It reduces words to a representative 
 phonetic key, making it easier to compare and search by names, 
 dictionary words and streets names.
 

