Source: metaphoneptbr
Section: libdevel
Priority: optional
Maintainer: Carlos Costa Jordão <carlosjordao@gmail.com>
Build-Depends: debhelper (>= 9), php-dev, libpq-dev, postgresql-server-dev-all
Homepage: http://sourceforge.net/projects/metaphoneptbr/
Standards-Version: 3.9.5


Package: metaphoneptbr4pgsql
#Package: postgresql-9.5-metaphoneptbr
Section: libs
Architecture: any
Depends: postgresql (>= 8.3), ${shlibs:Depends}, ${misc:Depends}
Description: This is a metaphone-pt_Br module for PostgreSQL database
 It aims to extend word search beyond 'LIKE' commands boundaries,
 through a phonetic key search. It reduces words to a representative 
 phonetic key, making it easier to compare and search by names, 
 dictionary words and streets names.


Package: php-metaphoneptbr
Section: interpreters
Architecture: any
Depends: php (>= 7.0), ${misc:Depends}, ${php:Depends}, ${shlibs:Depends}, php-common
Description: This is the brazilian metaphone module for PHP 5.x
 It aims a best PHP integration into tier application, providing
 a phonetic key search. It reduces words to a representative 
 phonetic key, making it easier to compare and search by names, 
 dictionary words and streets names.
 

Package: metaphoneptbr-utils
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is the metaphone for brazilian portuguese
 this is the command line version, which is intended to work mainly
 with scripts. It reduces words to a representative 
 phonetic key, making it easier to compare and search by names, 
 dictionary words and streets names.
 
