#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS

# $@ == package name (just a note to remember what is this)

# --- ENVIRONMENT ---
# define where the modules will installed
PHP_EX5=$(shell /usr/bin/php-config --extension-dir)
PHPFLAGS=`dpkg-buildflags --export=configure`
# hardening
export DEB_BUILD_HARDENING=1
#include /usr/share/dpkg/buildflags.mk
# --- --- --- --- ---


# default mandatory
configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: build-arch build-indep
build-indep:

#build-arch: metaphoneptbr4pgsql php5-metaphoneptbr metaphoneptbr-utils 
build-arch:
	@echo "\n*****************************\n*** PHP module \n**********************"
	PHPFLAGS=`dpkg-buildflags --export=configure`
	cd php && phpize && DEB_BUILD_HARDENING=1 ./configure --prefix=$(CURDIR)/debian/php-metaphoneptbr/usr && DEB_BUILD_HARDENING=1 $(MAKE) -e DESTDIR=$(CURDIR)/debian/$@
	@echo "\n*****************************\n*** METAPHONE UTILS\n**********************"
	cd source && $(MAKE) -e


# specific cleaning routines
clean:
	@echo "\n**************************\n\t\t cleaning \n**********************"
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) -i distclean
	cd php ; phpize --clean 
	cd postgresql ; $(MAKE) -C 9.1 clean ; $(MAKE) -C 8.4 clean
#	cd python ; python setup.py clean --all 
	cd source ; make clean 
	dh_clean 
	@echo "\n_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,"


# ---------
# compile and package
# ------------
php-metaphoneptbr: 
	dh_testroot -p$@
	dh_testdir -p$@
	dh_installdirs -p$@
	@echo "\n*****************************\n*** PHP module \n**********************"
	# thanks code snippet from php5 source file...
	install -D -m 0644 php/metaphone_ptbr.ini $(CURDIR)/debian/$@/usr/share/php/metaphoneptbr/metaphone_ptbr.ini
	install -D -m 0644 php/modules/metaphoneptbr.so $(CURDIR)/debian/$@$(PHP_EX5)/metaphoneptbr.so
	@echo "\n_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,"


metaphoneptbr4pgsql: 
	# installing metaphone-pgsql
	dh_testdir -p$@
	dh_testroot -p$@
	dh_installdirs -p$@
	@echo "\n*****************************\n*** POSTGRESQL module \n**********************"
	for v in `pg_buildext supported-versions postgresql`; do \
	    $(MAKE) -C postgresql/$$v install DESTDIR=$(CURDIR)/debian/$@;\
	done
	@echo "\n_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,"


metaphoneptbr-utils: 
	# installing metaphone-utils
	dh_testdir -p$@
	dh_testroot -p$@
	dh_installdirs -p$@
	@echo "\n*****************************\n*** METAPHONE UTILS\n**********************"
	install -D -m 0555 source/metaphone_ptbr $(CURDIR)/debian/$@/usr/bin/metaphone_ptbr
	@echo "\n_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,_,.-~+'ºª'+~-.,"


#python-metaphoneptbr: 
#	# installing metaphone-python
#	dh_testroot -p$@
#	dh_testdir -p$@
#	dh_installdirs -p$@
#	cd python; python setup.py install --root $(CURDIR)/debian/$@  --install-base /usr
#--prefix /usr
#	tar -xzf python/dist/*`arch`.tar.gz -C debian/

# --- end ----

# mandatory entries

# Build architecture-independent files here.
binary-indep: 
# We have nothing to do by default.


# Build architecture-dependent files here.
binary-arch: metaphoneptbr4pgsql php-metaphoneptbr metaphoneptbr-utils 
#python-metaphoneptbr 
	dh_testdir
	dh_testroot
	dh_installchangelogs debian/changelog
	dh_installdocs -A README
	dh_install
#	dh_installmenu
#	dh_installdebconf	
	dh_installdirs
#	dh_python
	dh_installinit
	dh_installman
	dh_link
	dh_lintian
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	echo "php:Depends=phpapi-"`php-config --phpapi` >> debian/php-metaphoneptbr.substvars
	dh_gencontrol 
	dh_md5sums 
	dh_builddeb 

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
