#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build:: build-stamp
	# finished building.

build-stamp: configure-stamp 
	# build_stamp
	dh_testdir
	# Add here commands to compile the package.
	#$(MAKE)
	#docbook-to-man debian/metaphoneptbr4pgsql.sgml > metaphoneptbr4pgsql.1
	touch $@

clean::
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) -i distclean
	cd php5 ; phpize5 --clean ; cd ..
	cd python ; python setup.py clean ; cd ..
	cd source ; make clean ; cd ..
	dh_clean 


install/php5-metaphoneptbr:: build
	# installing php5-metaphone
	dh_testroot
	dh_installdirs
	cd php5 ; phpize5 ; ./configure ; $(MAKE) INSTALL_ROOT=$(CURDIR)/debian/php5 install 
	# thanks code snippet from php5 source file...
	install -D -m 0644 $(CURDIR)/php5/metaphone_ptbr.ini debian/php5/etc/php5/conf.d/metaphoneptbr.ini;

install/metaphoneptbr4pgsql:: build
	# installing metaphone-pgsql
	dh_testroot
	dh_installdirs
	cd postgresql ;$(MAKE) DESTDIR=$(CURDIR)/debian/metaphoneptbr4pgsql install 


install/metaphoneptbr-utils:: build
	# installing metaphone-utils
	dh_testroot
	dh_installdirs
	cd source ; $(MAKE) INSTALL_ROOT=$(CURDIR)/debian/metaphoneptbr 
	install -D $(CURDIR)/source/metaphone_ptbr debian/metaphoneptbr/usr/bin/metaphone_ptbr
	


install/python-metaphoneptbr:: build
	# installing metaphone-python
	dh_testroot
	dh_installdirs
	cd python; python setup.py bdist
	tar -xzf python/dist/*`arch`.tar.gz -C debian/



# Build architecture-independent files here.
binary-indep: build install install/metaphoneptbr4pgsql install/php5-metaphoneptbr install/metaphoneptbr-utils install/python-metaphoneptbr
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install install/metaphoneptbr4pgsql install/php5-metaphoneptbr install/metaphoneptbr-utils install/python-metaphoneptbr
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
#	dh_installexamples
	dh_install
#	dh_installmenu
	dh_installdebconf	
	dh_installdirs
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
