Package: php-metaphoneptbr
Source: metaphoneptbr
Version: 1.23
Architecture: amd64
Maintainer: Carlos Costa Jordão <carlosjordao@gmail.com>
Installed-Size: 48
Depends: php (>= 7.0) | php-cli (>= 7.0), phpapi-20210902, libc6 (>= 2.14), php-common
Section: php
Priority: optional
Homepage: http://sourceforge.net/projects/metaphoneptbr/
Description: This is the brazilian metaphone module for PHP 5.x
 It aims a best PHP integration into tier application, providing
 a phonetic key search. It reduces words to a representative
 phonetic key, making it easier to compare and search by names,
 dictionary words and streets names.
