Source: metaphoneptbr
Section: libdevel
Priority: optional
Maintainer: Carlos Costa Jordão <carlosjordao@gmail.com>
Build-Depends: debhelper (>= 10), php-dev
Homepage: http://sourceforge.net/projects/metaphoneptbr/
Standards-Version: 3.9.5


Package: php-metaphoneptbr
Section: php
Architecture: any
Depends: php (>= 7.0) | php-cli (>=7.0), ${misc:Depends}, ${php:Depends}, ${shlibs:Depends}, php-common
Description: This is the brazilian metaphone module for PHP 5.x
 It aims a best PHP integration into tier application, providing
 a phonetic key search. It reduces words to a representative 
 phonetic key, making it easier to compare and search by names, 
 dictionary words and streets names.
 

